<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="settings-outline"></ion-icon> Configurazione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="conferma()">
    <ion-item>
      <ion-label>SECONDI IGIENIZZANTE</ion-label>
      <ion-input type="text" [(ngModel)]="form.fase_1" autofocus="true" name="fase_1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>SECONDI DISINFETTANTE</ion-label>
      <ion-input type="text" [(ngModel)]="form.fase_2" autofocus="true" name="fase_2"></ion-input>
    </ion-item>    
    <ion-button expand="block" size="large" type="submit">
      <ion-icon name="settings-outline"></ion-icon>SALVA CONFIGURAZIONE
    </ion-button>
  </form>
</ion-content>
