<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sanificazione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sanificazione</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list padding>
    <ion-button expand="block"
                (click)="startScanning()">scan</ion-button>
    <ion-list-header>
        Dispositivi accoppiati
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices">
        {{device.name}}
    </ion-item>
    <ion-button expand="block"
                (click)="disconnect()">Disconnect</ion-button>
    <ion-list-header>
        Dispositivi disponibili
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="selectDevice(device.id)">
            {{device.name || device.address}}
        </span>
    </ion-item>
    <ion-spinner name="crescent"
                 *ngIf="gettingDevices"></ion-spinner>
    </ion-list>
    
</ion-content>
