<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="ribbon-outline"></ion-icon> Dispositivo : {{deviceName}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <form (ngSubmit)="sanifica()">
    <ion-item>
      <ion-label>DIGITARE TARGA</ion-label>
      <ion-input type="text" [(ngModel)]="form.targa" autofocus="true" name="targa" value=""></ion-input>
    </ion-item>
    <ion-button expand="block" size="large" type="submit">
      <ion-icon name="ribbon-outline"></ion-icon>ESEGUI SANIFICAZIONE
    </ion-button>
  </form>

  <div class="flex progress" style="height: 60%;">
    <circle-progress [percent]="progress" [subtitleFontSize]="8" [radius]="50" [showSubtitle]="true" [subtitle]="progressText"></circle-progress>
  </div>

  <ion-button expand="block" size="large" color="danger" (click)="arresta()">
    <ion-icon name="warning-outline"></ion-icon>ARRESTA SANIFICAZIONE
  </ion-button>
</ion-content>